@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
  font-family: "Courgette", cursive;
  color: rgb(87, 86, 86);
}
.mainImageContainer {
  margin: 2rem 0;
  position: relative;
  width: 100%;
  aspect-ratio: 12/9;
}

.mainImage {
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
}
.inputForm {
  width: 100%;
}

